<main>
  <section class="absolute w-full h-full">
    <div
      id="bg"
      class="absolute top-0 w-full h-full bg-gray-900"
      style="
        background-image: url(./../../assets/Images/bg.svg);

        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div
        class="flex flex-col place-items-center h-screen items-center mx-auto space-y-0 md:space-y-0 md:flex-row"
      >
        <div class="grid grid-cols place-items-center h-full w-2/5">
          <div>
            <h1
              class="max-w-md text-2xl font-bold text-center text-white md:text-7xl md:text-left leading-normal"
            >
              Bienvenue dans RaproBank .
            </h1>
            <h2
              class="mt-8 max-w-md text-2xl font-regular text-white opacity-75 md:text-3xl md:text-left"
            >
              Votre application de rapprochement bancaire
            </h2>
          </div>
        </div>
        <!-- <img src="./../../assets/Images/newbg.svg" alt="">  -->
        <div class="container mt-0 mx-0 px-4 h-full w-3/5">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-8/12 md:w-8/12 px-4">
              <div
                class="relative bg-graygreen flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
              >
                <div class="rounded-t mb-0 px-6 py-6">
                  <div
                    class="grid grid-cols place-content-center text-center mb-3"
                  ></div>
                  <div class="grid grid-cols place-content-center">
                    <img class="w-200" src="./../../assets/logg.png" alt="" />
                  </div>
                  <hr class="mt-6 border-b-1 border-gray-400" />
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-gray-500 text-xl text-center mb-3 font-bold">
                    <small>CONNEXION</small>
                  </div>

                  <form
                    *ngIf="!isLoggedIn"
                    name="form"
                    (ngSubmit)="f.form.valid && onSubmit()"
                    #f="ngForm"
                    novalidate
                    role="form"
                  >
                    <div class="form-group relative w-full mb-3">
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="username"
                        >Nom d'utilisateur</label
                      ><input
                        type="text"
                        class="form-control border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring ring-greenLight w-full"
                        placeholder="Entrez votre adresse email"
                        style="transition: all 0.15s ease 0s"
                        name="username"
                        [(ngModel)]="form.username"
                        required
                        #username="ngModel"
                      />
                      <p
                        class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm"
                        *ngIf="f.submitted && username.invalid"
                        role="alert"
                      >
                        Le nom d'utilisateur est requis
                      </p>
                    </div>

                    <div class="form-group relative w-full mb-3">
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="password"
                        >Password</label
                      ><input
                        type="password"
                        class="form-control peer border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring ring-greenLight w-full"
                        placeholder="Entrez votre mot de passe"
                        style="transition: all 0.15s ease 0s"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="6"
                        #password="ngModel"
                      />
                      <div
                        class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm"
                        role="alert"
                        *ngIf="f.submitted && password.invalid"
                      >
                        <!-- <p
                          *ngIf="password.errors.required"

                        >
                          Le mot de passe est requis.
                        </p>
                        <p
                          *ngIf="password.errors.minlength"
                        >
                          Le mot de passe doit contenir au moins 6 caracteres.
                        </p> -->
                      </div>
                    </div>
                    <!-- <div>
                      <label class="inline-flex items-center cursor-pointer"
                        ><input
                          id="customCheckLogin"
                          type="checkbox"
                          class="form-checkbox border-0 rounded text-gray-800 ml-1 w-5 h-5"
                          style="transition: all 0.15s ease 0s"
                        /><span class="ml-2 text-sm font-semibold text-gray-700"
                          >Se rappeller de moi</span
                        ></label
                      >
                    </div> -->
                    <div class="form-group text-center mt-6">
                      <button
                        class="bg-green text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                        style="transition: all 0.15s ease 0s"
                      >
                        Connexion
                      </button>
                    </div>
                    <div class="form-group">
                      <div
                        class="text-lg text-black"
                        role="alert"
                        *ngIf="f.submitted && isLoginFailed"
                      >
                        Login failed: {{ errorMessage }}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
