<app-navbar></app-navbar>

<div class="container mx-auto">
  <div class="container flex flex-row space-x-48 place-items-center mt-7">
    <div class="">
      <h1
        class="text-3xl font-semibold text-center text-black md:text-3xl md:text-left"
      >
        Liste des banques enregistrées
      </h1>
    </div>
    <div class="ml-0">
      <button
        class="flex shadow w-32 block border-green border-2 rounded-full focus:outline-none focus:border-green px-4 py-2 text-green hover:bg-green hover:text-white"
        (click)="toggleModal()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>

        <span>Ajouter</span>
      </button>
      <div></div>
    </div>
  </div>

  <!-- Modal -->
  <div
    *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
  >
    <div class="relative w-auto my-6 mx-auto max-w-3xl">
      <!--content-->
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
      >
        <!--header-->
        <div
          class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
        >
          <h3 class="text-3xl font-semibold">Ajout d'une banque</h3>
          <button
            class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
            (click)="toggleModal()"
          >
            <span
              class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
            >
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="flex items-center justify-center p-9">
          <div class="mx-auto w-full max-w-[550px] bg-white">
            <!-- form -->
            <form #addBanqueForm="ngForm">
              <!-- libelle -->

              <div class="mb-5">
                <label
                  for="libelleBanque"
                  class="mb-3 block text-base font-medium text-black"
                >
                  Libellé de la banque
                </label>
                <input
                  ngModel
                  required
                  name="libelleBanque"
                  placeholder="Ex : Ecobank"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green focus:shadow-md"
                />
                <!-- <mat-error>Ce champ est obligatoire</mat-error> -->
              </div>
              <!-- description -->

              <div class="mb-5">
                <label
                  for="description"
                  class="mb-3 block text-base font-medium text-black"
                >
                  Description (Optionnel)
                </label>
                <textarea
                  ngModel
                  placeholder="Mettez une description de la banque"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green focus:shadow-md"
                  name="description"
                  rows="5"
                  cols="33"
                >
                </textarea>
                <!-- <input
                  type="text area"
                  name="name"
                  id="name"
                  placeholder="Votre texte"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green focus:shadow-md"
                /> -->
              </div>
            </form>
          </div>
        </div>
        <!--footer-->
        <div
          class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
        >
          <button
            class="text-green background-transparent hover:bg-whiteGreen border-2 border:green font-bold uppercase px-6 py-2 rounded text-sm outline-none focus:outline-none mr-2 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="toggleModal()"
          >
            Fermer
          </button>
          <button
            class="bg-green hover:bg-greenLight text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="submit"
            (click)="addBanque(addBanqueForm)"
          >
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tableau des banques -->
  <div class="container w-auto mx-auto mt-10">
    <!-- <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field> -->

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- libelle Column -->
        <ng-container matColumnDef="libelleBanque">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Libellé de la banque
          </th>
          <td mat-cell *matCellDef="let row">{{ row.libelleBanque }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Description de la banque
          </th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr> -->
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>

  <!-- <pre>
    {{ convertedJson }}
  </pre> -->
</div>
