<app-navbar></app-navbar>
<div class="container mx-auto">
  <h1
    class="text-2xl font-bold text-center text-black md:text-3xl md:text-center mt-10"
  >
    Ajout d'un extrait de grand livre
  </h1>
  <div class="flex items-center justify-center p-12">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="mx-auto w-full max-w-[550px] bg-white">
      <form action="https://formbold.com/s/FORM_ID" method="POST">
        <div class="mb-5">
          <label
            for="guest"
            class="mb-3 block text-base font-medium text-black"
          >
            Selectionnez le compte bancaire
          </label>
          <select
            class="form-select w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green focus:shadow-md"
            aria-label="Default select example"
          >
            <option selected>
              Ouvrez ce menu pour selectionner le compte bancaire
            </option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="-mx-3 flex flex-wrap">
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label
                for="date"
                class="mb-3 block text-base font-medium text-black"
              >
                Mois
              </label>
              <select
                class="form-select w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green focus:shadow-md"
                aria-label="Default select example"
              >
                <option selected>Selectionnez le mois</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label
                for="time"
                class="mb-3 block text-base font-medium text-black"
              >
                Année
              </label>
              <select
                class="form-select w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green focus:shadow-md"
                aria-label="Default select example"
              >
                <option selected>Selectionnez l'année</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-6 pt-4">
          <label class="mb-5 block text-xl font-semibold text-black">
            Importer le fichier d'extrait du grand livre
          </label>

          <div class="mb-8">
            <input
              type="file"
              name="file"
              id="file"
              class="sr-only"
              accept=".xls,.xlsx"
              name="fileUpload"
              (change)="fileUpload($event)"
            />
            <label
              for="file"
              class="relative flex min-h-[200px] items-center justify-center rounded-md border border-dashed border-[#e0e0e0] p-12 text-center"
            >
              <div class="cursor-grab">
                <span class="mb-2 block text-xl font-semibold text-black">
                  Déposez le fichier ici
                </span>
                <span class="mb-2 block text-base font-medium text-[#6B7280]">
                  Ou
                </span>
                <span
                  class="cursor-pointer inline-flex rounded border border-[#e0e0e0] py-2 px-7 text-base font-medium text-black"
                >
                  Parcourir
                </span>
              </div>
            </label>
          </div>
        </div>

        <div>
          <button
            class="hover:shadow-form w-full rounded-md bg-green py-3 px-8 text-center text-base font-semibold text-white outline-none"
          >
            Ajouter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
