<app-navbar></app-navbar>
<!-- <app-state-page></app-state-page> -->

<section id="first">
  <h1
    class="max-w-md text-2xl font-bold text-center text-black md:text-3xl md:text-left"
  >
    Tableau de bord
  </h1>

  <div
    class="container flex flex-col-reverse items-center mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row"
  >
    <!-- Left item -->
    <div class="flex flex-col mb-32 spacey-12 md:w-2/3">
      <div class="flex flex-col mb-32 space-y-6 md:w-2/3">
        <!-- card -->
        <div
          class="text-lg max-w-md bg-gray rounded-xl shadow-md overflow-hidden md:max-w-xl"
        >
          <div class="md:flex">
            <div class="p-6">
              <div
                class="uppercase tracking-wide text-lg text-white font-semibold"
              >
                Bienvenue Afi !
              </div>

              <p class="my-2 text-white">
                Ne manquez pas de verifier l'état des derniers rapprochements
                banacires effectués
              </p>
              <button
                class="border-2 border-white rounded-full px-3 py-2 transition ease-in-out delay-50 hover:bg-green 700 text-white"
              >
                Consulter
              </button>
            </div>

            <div class="md:shrink-0">
              <img
                class="h-68 w-full object-cover md:h-full md:w-48"
                src="./../../assets/illustration.png"
                alt="Man looking at item at a store"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right item -->
    <!-- <div class="text-lg w-1/3 h-96 bg-gray rounded-xl shadow-md">
      <h1>
        fhfjf Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eos
        corporis pariatur quas, accusantium mollitia veniam id repudiandae, nisi
        sapiente suscipit exercitationem sequi. Recusandae at magnam libero
        deleniti? Eveniet, maiores.
      </h1>
    </div> -->
  </div>
</section>
